/*--테이블 센터 맞추기--
(1)HTML <head>안에 <link rel="stylesheet" href="style.css"> 링크를 건다
(2)CSS 파일을 다음과 같이 적는다.-> class 만들어서 하는건 좀 더 공부해야 함.*/


table {
    margin-left:auto; 
    margin-right:auto;
}

table, td, th {
    border-collapse : collapse;
    border : 1px solid black;
};