<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <input type="text" v-model="message">
        <div>
            {{ message }}
        </div>
    </div>
    <div id="app3">
        <p>원본 : {{ message }}</p>
        <p>역순 : {{ reversedMessage }}</p>
    </div>
    <div id="app4">
        <input type="text" placeholder="성" v-model="lastName">
        <input type="text" placeholder="이름" v-model="firstName">
        <div>
            {{ fullName }}
        </div>
    </div>
    <div id="app5">
        {{ message }}
    </div>
    <div id="app6">
        {{ todo }}
    </div>
    <div id="app7">
        <button v-on:click="getDatas">todos 가져오기</button>
        <ul>           
            <li v-for="item in items">{{ item.title }}</li>
        </ul>
    </div>
    <div id="app8">
        <input type="text" v-model="id">
        <div>
            {{ item.title }}
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World'
            }
        })

        var app2 = new Vue({
            el: '#app2',
            data: {
                message: ''
            }
        })

        var app3 = new Vue({
            el:'#app3',
            data: {
                message: '안녕하세요'
            },
            computed: {
                reversedMessage: function() {
                    return this.message.split('').reverse().join('')
                }
            }
            // methods: {
            //     reversedMessage
            // }
        })

        var app4 = new Vue({
            el:'#app4',
            data: {
                firstName: '',
                lastName: '',
                fullName: ''
            },
            watch: {
                firstName: function(val) {
                    this.fullName = `${val} ${this.lastName}`
                },
                lastName: function(val) {
                    this.fullName = `${this.firstName} ${val}`
                }
            }
        })

        var app5 = new Vue({
            el:'#app5',
            data: { 
                message: ''
            },
            created: function() {
                this.message
            }
        })

        var app6 = new Vue({
            el:'#app6',
            data: {
                todo: ''
            },
            created: function() {
                this.getTodo(1)
            },
            methods: {
                getTodo: function(id) {
                    axios.get('https://jsonplaceholder.typicode.com/todos/'+id)
                    .then(function (response) {
                        console.log(response);
                    });
                }
            }
        })

        // var app7 = new Vue({
        //     el:'#app7',
        //     data: {
        //         items: []
        //     },
        //     methods: {
        //         getDatas: function() {
        //             axios.get('https://jsonplaceholder.typicode.com/todos')
        //             .then((response)=> {
        //         }
        //     }
        // })

        var app8 = new Vue({
            el: '#app8',
            data: {
                item: ''
            },
            methods: {
             getData: function(id) {
                axios.get('https://jsonplaceholder.typicode.com/todos/'+id)
                .text(responese => {
                    this.item= response.data
                });
             }
        })

        created: function () {
          this.debouncedGetData =_.debounce(id=>this.getData  (id),2000)
        },
        watch {
            id: function(val) {
                if(val == '') {
                    return;
                }
                this.debouncedGetData
            }
        }
    </script>
</body>
</html>